# Preencha conforme seus buckets e região
AWS_REGION=us-east-1
PROJECT_NAME=s3-zip-jobs

SRC_BUCKET=meu-bucket-origem
DST_BUCKET=meu-bucket-destino
DST_PREFIX=zips/

API_BASE=  # (Preenchido após o terraform aplicar: saída 'api_base_url')
